.gitignore text
.gitattributes text
*.txt text
*.md text linguist-language=MarkDown
*.ps1 text eol=crlf linguist-language=PowerShell
*.psm1 text eol=crlf linguist-language=PowerShell
*.nsi text eol=crlf linguist-language=NSIS
*.props text eol=crlf linguist-language=VisualStudio
